<a href="/">HOME</a><br>

<h3>Event Name: <%=@event.name %></h3>
  <ol>
    <li> Genre: <%=@event.genre %> </li>
    <li> Date: <%=@event.date %> </li>
    <li> Time: <%=@event.time %> </li>
    <li> Link: <a href=<%=@event.link %> target="_blank" ><%=@event.link %></a> </li>
    <li> Description: <%=@event.description %> </li>
  </ol>

  <a href=<%= "/event/#{@event.id}/edit" %>>Edit <%= @event.name %></a>

