<a href="/">HOME</a><br>

<h3>Event Name: <%=@event.name %></h3>
  <ol>
    <li> Genre: <%=@event.genre %> </li>
    <li> Date: <%=@event.date %> </li>
    <li> Time: <%=@event.time %> </li>
    <li> Link: <a href=<%=@event.link %> target="_blank" ><%=@event.link %></a> </li>
    <li> Description: <%=@event.description %> </li>
  </ol>

  

  <% if session[:user_id] == @event.user_id %>
    <a href=<%= "/events/#{@event.id}/edit" %>>Edit <%= @event.name %></a> 
  <% end %>
