<h1>Welcome, <%= @user.username.capitalize%> to LiveStreams</h1>
<div class="container">

  <br>
  <h2>Feature Event: <%=@featured_event.name%></h2>
  Date: <%=@featured_event.date%><br>
  <%=@featured_event.time%><br>
  Genre: <%=@featured_event.genre%> <br>
  Link: <a href="<%=@featured_event.link%>" target="_blank" > <%=@featured_event.link%> </a>


  <br><br><br>

  <a href="/logout">Logout</a>
</div>